.mainContent {
    text-align: center;
}



.start-btn {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    width: 150px;

}

.video-game-button:active, .start-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}


.scoreBoard {
    display: flex;
    margin-left: 40%;
}

.personScore {
    width: 11%;
}


@media (min-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    h1 {
        font-size: 3pc;
    }
}

@media (min-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    h1 {
        font-size: 3pc;
    }
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    h1 {
        font-size: 3pc;
    }
}

@media (min-width:961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    h1 {
        font-size: 3pc;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    h1 {
        font-size: 3pc;
    }
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    h1 {
        font-size: 5pc;
    }
}