.gameBoard {
    width: 30%;
    padding: 20px;
    border: black solid 10px;
    border-radius: 40px;
    margin: auto;
    margin-top: 5%;
}


.row {
    display: flex;
}


.piece {
    width: 33%;
    height: 33%;
    text-align: center;
}

.block_0_1 {
    border-bottom: black solid 10px;
    border-right: black solid 10px;

}

.block_0_2 {
    border-bottom: black solid 10px;
    border-right: black solid 10px;

}

.block_0_3 {
    border-right: black solid 10px;

}

.block_1_1 {
    border-bottom: black solid 10px;

}

.block_1_2 {
    border-bottom: black solid 10px;

}

.block_1_3 {}

.block_2_1 {
    border-bottom: black solid 10px;
    border-left: black solid 10px;

}

.block_2_2 {
    border-bottom: black solid 10px;
    border-left: black solid 10px;

}

.block_2_3 {
    border-left: black solid 10px;

}